
.todo-container {
    width: 95%;
    max-width: 540px;
    margin: 40px auto;

    border: 1px solid #ddd;   
    border-radius: 8px;       

    background-color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.08);

}


.todo-container h1 {
    text-align: left;
    font-size: 25px;
    margin: 10px 20px 15px 20px;
}

.input-area {
    margin-left: 20px;
    width: 90%;
    display: flex;
    gap: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.input-area input {
    padding: 12px;
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 12px;

    font-size: 18px;
    box-shadow: 0 0 4px rgba(0,0,0,0.08);

}

.input-area button {
    padding: 12px 24px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #136FF6;
    color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.08);
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 10px 20px 20px 20px;
    text-align: left;
}


.todo-li {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}